source .venv/bin/activate
export R_PROFILE_USER="$PWD/.Rprofile"
export R_LIBS_USER="$PWD/.renv/library"
# export R_HOME=$ASDF_DATA_DIR/installs/r/4.3.3/lib/R
# export LD_LIBRARY_PATH=$R_HOME/lib:$LD_LIBRARY_PATH
